
:root {
    --main-color: #0a557e;
    --main-shadow-color: #0a557ebb;
    --main-bg-color: #fcfcff;
    --main-color-2: #4caedd;
    --main-color-3: #badcea;
    --secondary-color: #c4c691;
    --page-bg: #f7fafb;

    /* --main-color: #8fcdff;
    --main-bg-color: #1a1c1e;
    --main-color-2: #4caedd;
    --main-color-3: #badcea;
    --secondary-color: #5e6300; */


    --r-red: #db7476;
    --r-orange: #ed8c37;
    --r-yellow: #f5a936;
    --r-green: #51a885;
    --r-blue: #267a9e;
    --r-indigo: #5f739d;
    --r-purple: #986b9b;


    --selection-color: #0a557edd;

}

.dark-theme {

}

.fill-101-top {fill: var(--r-yellow);}
.fill-m {fill: var(--main-color);}
.fill-m-bg {fill: var(--main-bg-color);}
.fill-m-2 {fill: var(--main-color-2);}
.fill-m-3 {fill: var(--main-color-3);}
.fill-s {fill: var(--secondary-color);}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    /* height: 100%; */
    background-color: var(--page-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 1460px;
}

section:has(.section-title) {
    padding-block-start: 4rem;

    & .section-title {
        display: flex;

        & h2 {
            font-size: 4.5rem;
        }

        & svg {
            height: 3.75rem;
            translate: 0.625rem -0.75rem;
        }
    }
}

#home {
    --_window-width: 60rem;

    height: 100dvh;

    display: grid;
    grid-template-columns: 1fr var(--_window-width);
    align-items: center;

}

.hp-text {

    display: flex;
    flex-direction: column;
    gap: 4.5rem;

    .hp-title {
        & h1 {
            font-size: 4.5rem;

            display: flex;

            & svg {
                height: 3.75rem;
                translate: 0.625rem -0.75rem;
            }
        }

        & span {font-size: 1.5rem;}
    }

    .hp-3e {
        & p {
            font-size: 2.25rem;

            display: flex;
            align-items: baseline;

            &::after {
                content: '';
                width: 0.75rem;
                height: 0.25rem;
                margin-left: 0.25rem;
                translate: 0 50%;
                background-color: var(--secondary-color);
            }
        }
    }

    .hp-tell-more {
        --_trans-time: 0.15s;
        --_hover-p: 0%;
        
        position: relative;
        width: 12.5rem;
        height: 3.75rem;
        user-select: none;
        cursor: pointer;

        & p {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--main-bg-color);
            border: 0.1875rem solid var(--main-color);
            border-radius: 1.875rem;
            font-size: 1.5rem;
            transition: var(--_trans-time);

            
            display: grid;
            place-items: center;
        }

        & div {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 1.875rem;
            background-color: var(--main-shadow-color);
            translate: 0.3125rem 0.3125rem;
            transition: var(--_trans-time);
            z-index: -1;
        }

        &:hover {
            --_hover-p: 100%;

            & p {
                scale: 1.01;
                translate: -0.125rem -0.0625rem;
            }
            
            & div {
                scale: 1.01;
                translate: 0.3125rem 0.375rem;
            }
        }

        &:active {
            --_trans-time: 0.18s;

            & p {
                scale: 0.99;
                translate: 0 0;
            }
            
            & div {
                scale: 0.99;
                translate: 0.25rem 0.25rem;
            }
        }
    }
}

.hp-main {
    --_hover-transition: 0.15s;

    translate: 0 -1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    & > p {
        font-size: 1.5rem;
        user-select: none;
        transition: transform var(--_hover-transition);

        display: flex;
        align-items: baseline;
        gap: 0.5rem;

        & svg {height: 1rem;}
    }
}

.hp-window {
    --_lw: 0.1875rem;

    position: relative;
    width: var(--_window-width);
    aspect-ratio: 16/9;
    background-color: var(--main-bg-color);
    border-radius: 0.375rem;
    border: var(--_lw) solid var(--main-color);
    box-shadow: 0.625rem 0.625rem var(--main-shadow-color);
    overflow: hidden;
    transition: var(--_hover-transition);

    &:hover {
        translate: -0.0625rem -0.0625rem;
        box-shadow: 0.8125rem 0.8125rem var(--main-shadow-color);

        /* scale: 1.0025; */
    }

    &:active {
        translate: 0 0;
        box-shadow: 0.625rem 0.625rem var(--main-shadow-color);
        scale: 1;
    }

    & > * {
        position: absolute;
    }

    .hp-dive-in {
        font-size: 1.5rem;
        user-select: none;

        display: flex;
        align-items: baseline;
        gap: 0.5rem;

        & svg {height: 1rem;}
    }

    .hp-top-layer {
        inset: 0;
        background-color: transparent;
        z-index: 99;
        cursor: pointer;

        &:hover {
            & div {
                translate: 0 0;
            }
        }

        & div {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            width: 4rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            padding: 0.5rem;
            background-color: var(--main-bg-color);
            border: var(--_lw) solid var(--main-color);
            box-shadow: 0.1875rem 0.1875rem var(--main-shadow-color);
            translate: 6rem 0;
            transition: translate var(--_hover-transition);
        }
    }

    .hp-horizon {
        width: 100%;
        height: 0.53%;
        background-color: var(--main-color);
        top: 69%;
    }

    .hp-wire {
        width: 100%;
        top: 71%;

        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    .hp-wire path {
        stroke: var(--secondary-color);
        fill: none;
        stroke-width: var(--_lw);
    }

    .hp-wire-l {
        margin-right: 87px;
    }

    .hp-wire-r {
        margin-left: 93px;
        margin-right: 34px;
    }

    .hp-landscape {
        width: 100%;
        top: 18%;

        display: flex;
        align-items: baseline;
        justify-content: center;
        /* justify-content: space-evenly; */
        /* gap: 50px; */

    }

    .hp-batt {margin-right: 2.6%;}
    .hp-pv {margin-right: 3.2%;}
    .hp-sky {margin-right: 4.3%;}
    .hp-fb-a25 {margin-right: 4.7%;}
    .hp-wfns {margin-left: 4.5%;}
    .hp-ns-a21 {
        margin-left: 4.5%;
        translate: 0 3.1%;
    }
    .hp-wt {margin-left: 2.5%;}
    .hp-wt-blade {
        /* transY 21.34/56 */
        margin-bottom: -38.1071%;
        /* trans-o 32.5/65 34.66/56 */
        transform-origin: 50% 61.8928%;
        animation: wt-spin 10s linear infinite; 
    }

    .hp-ess {
        /* w32 ml18 mr14 */
        margin-left: 1.8%;
        margin-right: 1.4%;
    }

    .hp-road-ltr {
        width: 100%;
        /* t400 */
        top: 71.1%;

        display: flex;
    }
    .hp-road-rtl {
        width: 100%;
        /* t460 */
        top: 81.8%;
        scale: -1 1;

        display: flex;
    }

    .hp-car {
        /* position: absolute; */
        width: 75px;
        cursor: pointer;
        animation: car-go-burr 7s ease-in-out infinite;
        /* translate: 200px; */
        /* transform: translateX(); */
    }

    .hp-v-stroke {
        stroke: var(--main-color);
        stroke-width: var(--_lw);
        stroke-dasharray: 0 100%;
        /* stroke-dashoffset: 5; */
        transition: 0.8s;
        animation: vehicle-stroke 1s linear infinite;
    }

    .hp-car:hover .hp-v-stroke {
        stroke-dasharray: 100%;
        /* stroke-dashoffset: calc(-100% - 5px); */
    }



    .hp-rain-back, .hp-rain-front {
        top: 0;
        width: 100%;
        height: 100%;
    }

    .hp-rain-front{
        --_drop-time: 1.5s;

        & line {
            --_rain-length: 5rem;

            stroke: var(--main-color);
            opacity: 0.65;
            stroke-width: 0.125rem;
            stroke-dasharray: var(--_rain-length) 1000;
            stroke-dashoffset: var(--_rain-length);
            animation: rain-stroke-front var(--_drop-time) linear infinite;
        }
    }

    .hp-rain-back {
        --_drop-time: 1.5s;
        /* position: absolute;
        top: -160px;
        left: 200px; */
        width: 100%;

        & line {
            --_rain-length: 3.75rem;

            stroke: var(--main-color);
            opacity: 0.5;
            stroke-width: 0.09375rem;
            stroke-dasharray: var(--_rain-length) 1000;
            stroke-dashoffset: var(--_rain-length);
            animation: rain-stroke var(--_drop-time) linear infinite;

        }

        & path {
            stroke: var(--main-color);
            fill: none;
            stroke-dasharray: 2 4.25;
            stroke-width: 4;
            opacity: 1;
            transform: scale(0);
            animation: rain-splat var(--_drop-time) linear infinite;
        }
    }
}

@keyframes wt-spin {from {rotate: 0deg;} to {rotate: 360deg;}}

@keyframes car-go-burr {
    0% {translate: 0px;}
    40% {translate: 200px;}
    60% {translate: 200px;}
    100% {translate: 600px;}

    10% {transform: translateY(5px);}
    20% {transform: translateY(0px);}
    30% {transform: translateY(10px);}
    40% {transform: translateY(5px);}
    50% {transform: translateY(0px);}
    60% {transform: translateY(10px);}
    70% {transform: translateY(5px);}
    80% {transform: translateY(0px);}
    90% {transform: translateY(10px);}
}

@keyframes vehicle-stroke {
    0% {stroke-dasharray: 0 100%;}
    100% {stroke-dasharray: 100% 0;}
}

@keyframes rain-stroke-front {
    from {
        stroke-dashoffset: var(--_rain-length);
    }
    to {
        stroke-dashoffset: -560;
    }
    
}

@keyframes rain-stroke {
    0% {
        opacity: 0.5;
        stroke-dashoffset: var(--_rain-length);
    }
    60% {
        opacity: 0.5;
    }
    72% {
        opacity: 0;
    }
    80%, 100% {
        opacity: 0;
        stroke-dashoffset: -560;
    }

}

@keyframes rain-splat {
    0%, 70% {
        opacity: 1;
        transform: scale(0);
    }
    75% {
        opacity: 0.5;
        transform: scale(0.7);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}


/* people */
#people {
    & h3 {
        margin-block-start: 6rem;
        font-size: 2.25rem;

        display: flex;
        align-items: baseline;

        &::after {
            content: '';
            width: 0.75rem;
            height: 0.25rem;
            margin-left: 0.25rem;
            translate: 0 50%;
            background-color: var(--secondary-color);
        }
    }
}

.ppl-section {
    margin-block-start: 2rem;
    /* border: 3px solid var(--main-color);
    border-radius: 0.3125rem;
    padding: 2rem;
    box-shadow: 0.25rem 0.25rem var(--main-shadow-color); */

    display: grid;
    grid-template-columns: repeat(var(--_block-col), 1fr);
    gap: var(--_grid-gap);

    .ppl-block {
        display: flex;
        flex-direction: var(--_block-flex-dir);
        gap: var(--_block-flex-gap);
    }

    .ppl-img {
        cursor: pointer;

        & img {
            width: var(--_img-width);
            aspect-ratio: var(--_img-aspect-ratio);
            border: 0.1875rem solid var(--main-color);
            border-radius: var(--_img-border-r);
            object-fit: cover;
            box-shadow: var(--_img-shadow_shift) var(--_img-shadow_shift) var(--main-shadow-color);
            user-select: none;
        }
    }

    .ppl-name {
        & h4 {
            margin-block-start: 0.125rem;
            font-size: var(--_name-font-size-h4);
        }

        & span {
            font-size: var(--_name-font-size-span);
        }
    }

    .ppl-arrow {
        cursor: pointer;
    }

    &[who='L'] {
        .ppl-text {
            --_quot_transY: 0.5rem;
            translate: 0 calc(--_img-shadow_shift) - var(--_quot_transY);
     
            .ppl-quot {
                translate: -0.875rem var(--_quot_transY);
            }
    
            .ppl-name h4 {
                line-height: 1;
            }
    
            .ppl-info {
                margin-block: 1rem;
                font-size: 1rem;
            }
    
            .ppl-arrow {
                display: inline-block;
            }
        }
    }

    &[who='M'], &[who='S'] {
        .ppl-text {
            position: relative;
            margin-inline-start: var(--_img-shadow_shift);
    
            display: flex;
            align-items: flex-start;
    
            .ppl-name h4 {
                margin-block-start: var(--_name-margin-block-start-h4);
                margin-inline-start: var(--_name-margin-inline-start-h4);
            }
    
            .ppl-arrow {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
}

.ppl-section[who='L'] {
    --_block-col: 1;
    --_grid-gap: 0;

    --_img-width: 15rem;
    --_img-aspect-ratio: 4/5;
    --_img-border-r: 0.1875rem;
    --_img-shadow_shift: 0.3125rem;

    --_block-flex-dir: row;
    --_block-flex-gap: 3rem;

    --_name-font-size-h4: 3.75rem;
    --_name-font-size-span: 1.5rem;
}

.ppl-section[who='M'] {
    --_block-col: 6;
    --_grid-gap: 2rem calc((100% - var(--_block-col) * var(--_img-width)) / (var(--_block-col) - 1));
    
    /* --_img-width: 15rem; */
    --_img-width: 12rem;
    --_img-aspect-ratio: 1/1;
    --_img-border-r: 0.1875rem;
    --_img-shadow_shift: 0.3125rem;

    --_block-flex-dir: column;
    --_block-flex-gap: 1rem;

    --_name-font-size-h4: 2.25rem;
    --_name-font-size-span: 1rem;
    --_name-margin-block-start-h4: 0.125rem;
    --_name-margin-inline-start-h4: 0;
}

.ppl-section[who='S'] {
    --_block-col: 7;
    --_grid-gap: 2rem calc((100% - var(--_block-col) * var(--_img-width)) / (var(--_block-col) - 1));
    
    --_img-width: 10rem;
    --_img-aspect-ratio: 1/1;
    --_img-border-r: 0.125rem;
    --_img-shadow_shift: 0.3125rem;

    --_block-flex-dir: column;
    --_block-flex-gap: 0.875rem;

    --_name-font-size-h4: 1.5rem;
    --_name-font-size-span: 0.75rem;
    --_name-margin-block-start-h4: 0.3125rem;
    --_name-margin-inline-start-h4: -0.125rem;
}








.nav-l {
    position: fixed;
    top: 50dvh;
    right: 0;
    translate: 0 -50%;


    & ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }

    & a {
        text-decoration: none;
        cursor: pointer;
        
        display: flex;
        align-items: center;

        & > * {transition: 0.08s;}
        
        &:hover {
            & div {
                scale: 1.03;
                translate: 0.75rem -0.0675rem;
                box-shadow: 0.375rem 0.3125rem var(--main-shadow-color);
            }

            & span {
                translate: -0.25rem 0;
                font-size: 1.5rem;
            }
            
        }

        &:active {
            & div {
                translate: 0.625rem -0.0675rem;
            }
        }
    }

    & span {
        font-size: 1.25rem;
        user-select: none;
    }

    & div {
        --_tag-height: 2.5rem;
        width: 3.5rem;
        height: var(--_tag-height);
        background-color: var(--main-bg-color);
        padding: 0.5rem;
        border: 0.125rem solid var(--main-color);
        border-radius: 0.25rem;
        box-shadow: 0.1875rem 0.1875rem var(--main-shadow-color);
        translate: 1rem 0;

        display: flex;
        align-items: center;
    }

    & svg {
        height: calc(var(--_tag-height) * 0.55);
    }
}
