
:root {
    --main-color: #0a557e;
    --main-bg-color: #fcfcff;
    --main-color-2: #4caedd;
    --main-color-3: #badcea;
    --secondary-color: #c4c691;

    /* --main-color: #8fcdff;
    --main-bg-color: #1a1c1e;
    --main-color-2: #4caedd;
    --main-color-3: #badcea;
    --secondary-color: #5e6300; */


    --r-red: #db7476;
    --r-orange: #ed8c37;
    --r-yellow: #f5a936;
    --r-green: #51a885;
    --r-blue: #267a9e;
    --r-indigo: #5f739d;
    --r-purple: #986b9b;

}

.dark-theme {

}

.fill-101-top {fill: var(--r-yellow);}
.fill-m {fill: var(--main-color);}
.fill-m-bg {fill: var(--main-bg-color);}
.fill-m-2 {fill: var(--main-color-2);}
.fill-m-3 {fill: var(--main-color-3);}
.fill-s {fill: var(--secondary-color);}

body {
    width: 100%;
    /* height: 100%; */
    /* background-color: aliceblue; */

    display: flex;
    align-items: center;
    justify-content: center;
}

#test-view {
    opacity: 0.5;
}

.hp-main-window {
    --_lw: 0.1875rem;
    width: 1000px;
    aspect-ratio: 16/9;
    background-color: var(--main-bg-color);
    border-radius: 0.1875rem;
    border: var(--_lw) solid var(--main-color);
    box-shadow: 0.625rem 0.625rem var(--main-color);

    position: relative;
    overflow: hidden;
}

.hp-horizon {
    width: 100%;
    height: 0.53%;
    background-color: var(--main-color);
    position: absolute;
    top: 69%;
}

.hp-wire {
    width: 100%;
    position: absolute;
    top: 71%;

    display: flex;
    align-items: baseline;
    justify-content: center;
}

.hp-wire path {
    stroke: var(--secondary-color);
    fill: none;
    stroke-width: var(--_lw);
}

.hp-wire-l {
    margin-right: 87px;
}

.hp-wire-r {
    margin-left: 93px;
    margin-right: 34px;
}

.hp-landscape {
    position: absolute;
    width: 100%;
    top: 18%;


    display: flex;
    align-items: baseline;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* gap: 50px; */

}

.hp-batt {margin-right: 2.6%;}
.hp-pv {margin-right: 3.2%;}
.hp-sky {margin-right: 4.3%;}
.hp-fb-a25 {margin-right: 4.7%;}
.hp-wfns {margin-left: 4.5%;}
.hp-ns-a21 {
    margin-left: 4.5%;
    translate: 0 3.1%;
}
.hp-wt {margin-left: 2.5%;}
.hp-wt-blade {
    /* transY 21.34/56 */
    margin-bottom: -38.1071%;
    /* trans-o 32.5/65 34.66/56 */
    transform-origin: 50% 61.8928%;
    animation: wt-spin 10s linear infinite; 
}
@keyframes wt-spin {from {rotate: 0deg;} to {rotate: 360deg;}}
.hp-ess {
    /* w32 ml18 mr14 */
    margin-left: 1.8%;
    margin-right: 1.4%;
}

.hp-road-ltr {
    position: absolute;
    width: 100%;
    /* t400 */
    top: 71.1%;

    display: flex;
}
.hp-road-rtl {
    position: absolute;
    width: 100%;
    /* t460 */
    top: 81.8%;
    scale: -1 1;

    display: flex;
}

.hp-car {
    /* position: absolute; */
    width: 75px;
    animation: car-go-burr 7s ease-in-out infinite;
    cursor: pointer;
    /* translate: 200px; */
    /* transform: translateX(); */
}


@keyframes car-go-burr {
    0% {translate: 0px;}
    40% {translate: 200px;}
    60% {translate: 200px;}
    100% {translate: 600px;}

    10% {transform: translateY(5px);}
    20% {transform: translateY(0px);}
    30% {transform: translateY(10px);}
    40% {transform: translateY(5px);}
    50% {transform: translateY(0px);}
    60% {transform: translateY(10px);}
    70% {transform: translateY(5px);}
    80% {transform: translateY(0px);}
    90% {transform: translateY(10px);}
}

.hp-v-stroke {
    stroke: var(--main-color);
    stroke-width: var(--_lw);
    stroke-dasharray: 0 100%;
    /* stroke-dashoffset: 5; */
    transition: 0.8s;
    animation: vehicle-stroke 1s linear infinite;
}

.hp-car:hover .hp-v-stroke {
    stroke-dasharray: 100%;
    /* stroke-dashoffset: calc(-100% - 5px); */
}

@keyframes vehicle-stroke {
    0% {stroke-dasharray: 0 100%;}
    100% {stroke-dasharray: 100% 0;}
}

.hp-rain-back, .hp-rain-front {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.hp-rain-front{
    --_drop-time: 1.5s;

    & line {
        --_rain-length: 5rem;

        stroke: var(--main-color);
        opacity: 0.65;
        stroke-width: 0.125rem;
        stroke-dasharray: var(--_rain-length) 1000;
        stroke-dashoffset: var(--_rain-length);
        animation: rain-stroke-front var(--_drop-time) linear infinite;
    }
}

@keyframes rain-stroke-front {
    from {
        stroke-dashoffset: var(--_rain-length);
    }
    to {
        stroke-dashoffset: -560;
    }
    
}


.hp-rain-back {
    --_drop-time: 1.5s;
    /* position: absolute;
    top: -160px;
    left: 200px; */
    width: 100%;

    & line {
        --_rain-length: 3.75rem;

        stroke: var(--main-color);
        opacity: 0.5;
        stroke-width: 0.09375rem;
        stroke-dasharray: var(--_rain-length) 1000;
        stroke-dashoffset: var(--_rain-length);
        animation: rain-stroke var(--_drop-time) linear infinite;

    }

    & path {
        stroke: var(--main-color);
        fill: none;
        stroke-dasharray: 2 4.25;
        stroke-width: 4;
        opacity: 1;
        transform: scale(0);
        animation: rain-splat var(--_drop-time) linear infinite;
    }
}



@keyframes rain-stroke {
    0% {
        opacity: 0.5;
        stroke-dashoffset: var(--_rain-length);
    }
    60% {
        opacity: 0.5;
    }
    72% {
        opacity: 0;
    }
    80%, 100% {
        opacity: 0;
        stroke-dashoffset: -560;
    }

}

@keyframes rain-splat {
    0%, 70% {
        opacity: 1;
        transform: scale(0);
    }
    75% {
        opacity: 0.5;
        transform: scale(0.7);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}














.nav-l {
    position: fixed;
    top: 50dvh;
    right: 0;
    translate: 0 -50%;


    & ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
    }

    & a {
        cursor: pointer;
        
        display: flex;
        align-items: center;

        & > * {transition: 0.08s;}
        
        &:hover {
            & div {
                scale: 1.03;
                translate: 0.75rem -0.0675rem;
                box-shadow: 0.375rem 0.3125rem var(--main-color);
            }

            & span {
                translate: -0.25rem 0;
                font-size: 1.5rem;
            }
            
        }

        &:active {
            & div {
                translate: 0.5rem -0.0675rem;
                /* box-shadow: 0.1875rem 0.25rem var(--main-color); */
            }
        }
    }

    & span {
        font-size: 1.25rem;
        user-select: none;
    }

    & div {
        --_tag-height: 2.5rem;
        width: 3.5rem;
        height: var(--_tag-height);
        background-color: var(--main-bg-color);
        padding: 0.5rem;
        border: 0.125rem solid var(--main-color);
        border-radius: 0.1875rem;
        box-shadow: 0.1875rem 0.1875rem var(--main-color);
        translate: 1rem 0;

        display: flex;
        align-items: center;
    }

    & svg {
        /* width: 1.375rem; */
        height: calc(var(--_tag-height) * 0.55);
    }
}
