body {
    display: grid;
    place-content: center;
}

.a {
    width: 20rem;
    border: 5px solid teal;
    border-radius: 0.25rem;
    transform: skewX(-5deg);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        /* width: 100%;
        height: 100%; */
        
        aspect-ratio: 1/1;
        max-width: initial;
        width: 110%;
        object-fit: cover;
        transform: skewX(5deg);
    }
}

.b {
    width: calc((200px * tan(60deg)));
    height: 200px;
    background-color: teal;
}