body {
    width: min(100%, 75rem);
    margin-inline: auto;

    display: grid;
    gap: 4rem;
}

header {
    margin-block-start: 6rem;
}

.main-name {
    display: flex;
    align-items: center;
    gap: 1rem;

    & svg {
        height: 3.75rem;
    }

    & h1 {
        font-size: 4.5rem;
    }
}

.sub-name {
    font-size: 1.125rem;

    & span {
        color: var(--secondary-color);
    }
}